<% @hoteles = Hotele.where(["nombre LIKE ?","%#{params[:search]}%"]) %>
<% @idiomas = Idioma.where(["idioma LIKE ?","%#{params[:search]}%"]) %>
 <div class="row">
   
    <div class="row" style="width: 94%; margin-left: 3%;">
        <% @idiomas.each do |idioma| %>
        <div class="col-md-2">
            <%= image_tag idioma.imagen.url, :class=>"medidaImagen1" %><br>
            <%= idioma.idioma %><br>
            <%= idioma.modalidad %><br>
            <%= link_to 'Show', idioma %>
            </div>
        </div>
        <% end %>
      <div style="width: 90%; margin-left: 15%; padding-bottom: 28%;">
    <% @hoteles.each do |hotele| %>
    <div class="col-md-2" style="margin-right: 15%;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 200px; height: 200px;">
          <!-- Indicators -->
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag hotele.imagen.url, :class=>"avatar" %>
            </div>
      
            <div class="item">
              <%= image_tag hotele.imagen1.url, :class=>"avatar" %>
            </div>
          
            <div class="item">
              <%= image_tag hotele.imagen2.url, :class=>"avatar" %>
            </div>
            
            <div class="item">
              <%= image_tag hotele.imagen3.url, :class=>"avatar" %>
            </div>
          </div>
        </div>
        <div class="newscont container-fluid" style="width: 200%; box-shadow: -7px 6px 8px #888888; margin-left: -45%; padding-top: 0px;">
        <h3><%= hotele.nombre %></h3>
        <p><%= truncate(hotele.descripcion, :length => 20) %></p>
        <p>Ubicación: <%= truncate(hotele.ubicacion, :length => 20) %></p>
        <p>Pagina Web: <%= truncate(hotele.url, :length => 20) %></p>
        <%= link_to '+ Mas info', hotele %>
        </div>
        </div>
    <% end %>
    </div>
    </div>