<%= form_for(@zapaterium, :html => {:multipart => true}) do |f| %>
  <% if @zapaterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zapaterium.errors.count, "error") %> prohibited this zapaterium from being saved:</h2>

      <ul>
      <% @zapaterium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imagen %><br>
    <%= f.file_field :imagen %>
  </div>
  <div class="field">
    <%= f.label :imagen1 %><br>
    <%= f.file_field :imagen1 %>
  </div>
  <div class="field">
    <%= f.label :imagen2 %><br>
    <%= f.file_field :imagen2 %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
