<p id="notice"><%= notice %></p>

<p>
  <strong>Imagen:</strong>
  <%= @zapaterium.imagen %>
</p>

<p>
  <strong>Imagen1:</strong>
  <%= @zapaterium.imagen1 %>
</p>

<p>
  <strong>Imagen2:</strong>
  <%= @zapaterium.imagen2 %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @zapaterium.nombre %>
</p>

<%= link_to 'Edit', edit_zapaterium_path(@zapaterium) %> |
<%= link_to 'Back', zapateria_path %>
