<style>
  .avatar {
    height: 180px;
    width: 200px !important;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 10%;
    background-size: 100% auto;
}
</style>
<p id="notice"><%= notice %></p>

<h1 class="estiloTitulo"><%= t "layouts.hoteles" %></h1>
<br>
  <tbody>
    <div class="row">
      <div style="width: 90%; margin-left: 15%; padding-bottom: 28%;">
    <% @hoteles.each do |hotele| %>
    <div class="col-md-2" style="margin-right: 15%;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 200px; height: 200px;">
          <!-- Indicators -->
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag hotele.imagen.url, :class=>"avatar" %>
            </div>
      
            <div class="item">
              <%= image_tag hotele.imagen1.url, :class=>"avatar" %>
            </div>
          
            <div class="item">
              <%= image_tag hotele.imagen2.url, :class=>"avatar" %>
            </div>
            
            <div class="item">
              <%= image_tag hotele.imagen3.url, :class=>"avatar" %>
            </div>
          </div>
        </div>
        <div class="newscont container-fluid" style="width: 200%; box-shadow: -7px 6px 8px #888888; margin-left: -45%; padding-top: 0px;">
        <h3><%= hotele.nombre %></h3>
        <p><%= truncate(hotele.descripcion, :length => 20) %></p>
        <p>Ubicación: <%= truncate(hotele.ubicacion, :length => 20) %></p>
        <p>Pagina Web: <%= truncate(hotele.url, :length => 20) %></p>
        <%= link_to '+ Mas info', hotele %>
        <%#= link_to 'Edit', edit_hotele_path(hotele) %>
        <%#= link_to 'Destroy', hotele, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        </div>
    <% end %>
    </div>
  </tbody>

<br><br><br><br>

<%#= link_to 'New Hotele', new_hotele_path %>
