
<style>
.recuadro{
      height: 450px;
}  
</style>
<p id="notice"><%= notice %></p>

  <h1 class="estiloTitulo"><%= @hotele.nombre %></h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="z-index:-1">
          <!-- Indicators -->
      <ol class="carousel-indicators">
         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="1"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li>
         <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag @hotele.imagen.url, :class=>"recuadro" %>
            </div>
      
            <div class="item">
              <%= image_tag @hotele.imagen1.url, :class=>"recuadro" %>
            </div>
          
            <div class="item">
              <%= image_tag @hotele.imagen2.url, :class=>"recuadro" %>
            </div>
            
            <div class="item">
              <%= image_tag @hotele.imagen3.url, :class=>"recuadro" %>
            </div>
          </div>
        </div>
        <!-- Carousel Controls -->
   <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="margin-top: 5%; height: 570px;">
      <i class="fa fa-chevron-left" aria-hidden="true" style="position: absolute; top: 250px;"></i>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next" style="margin-top: 5%; height: 570px;">
      <i class="fa fa-chevron-right" aria-hidden="true" style="position: absolute; top: 250px;"></i>
    </a>
<div class="newscont container-fluid" style="margin-top: -2%; width: 90%; box-shadow: -7px 6px 8px #888888;">
      <p>
        <strong>Ubicacion:</strong>
        <%= @hotele.ubicacion %>
      </p>
      
      <p>
        <strong>Descripcion:</strong>
        <%= @hotele.descripcion %>
      </p>
      
      <p>
        <strong>URL:</strong>
        <a href="http://<%= @hotele.url %>" target="_blank"><%= @hotele.url %></a>
      </p>
   </div>


<%#= link_to 'Edit', edit_hotele_path(@hotele) %> |
<h3><%= link_to "<i class='fa fa-arrow-left'></i> Volver".html_safe, hoteles_path %></h3>
