<style>
   .bandera{
      height: 35px;
   }
</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: rgba(54, 85, 132, 0.1); position:absolute !important;
    border-bottom: transparent;">
   <div class="container">
         <a href="/"><img src="/logoAH.png" width="8%" ></a>
         <div style="    text-align: right;
             margin-top: -4%;
             margin-bottom: 2.5%;">
            <%= t "layouts.idioma" %>:
            <%= link_to_unless_current  image_tag("en", :class => "bandera"), locale: "en" %>
            <%= link_to_unless_current  image_tag("es", :class => "bandera"), locale: "es" %>
            <%= link_to_unless_current  image_tag("ger", :class => "bandera"), locale: "ger" %> 
            <%= link_to_unless_current  image_tag("arabe", :class => "bandera"), locale: "arabe" %> 
            <%= link_to_unless_current  image_tag("fr", :class => "bandera"), locale: "fr" %> 
         </div>
   </div>
   </nav>
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    position:absolute !important; box-shadow: 0px 2px 8px #888888;">
   <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li class="active"><a href="/">Alexhouse</a></li>
            <li ><a href="/noticias"><%= t "layouts.noticias" %></a></li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t "layouts.servicios" %> <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li><%= link_to t("layouts.hoteles"), hoteles_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t("layouts.idiomas"), idiomas_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t("layouts.zapateria"), zapateria_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t("layouts.talento"), outsourcing_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t("layouts.viajes"), viajes_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t("layouts.restaurante"), restaurantes_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t("layouts.web"), publicidad_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t("layouts.spa"), spa_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t("layouts.uniformes"), uniformes_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t("layouts.cocina"), cocina_path %></li>
               </ul>
            </li>
         </ul>
      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container-fluid -->
</nav>
<br><br><br><br>